---
import Corusel from '../components/Corusel.astro';
import New from '../components/New.astro';
---
<h1>Cristian chupalo
</h1>
<button class="bg-black text-white flex mx-auto mt-24 w-[90%] text-[500px] min-h-56 "><a href="/">boton xd</a></button>