---
import Layout from '../layouts/Layout.astro';
import Topbar from '../components/Topbar.astro';
import Upauto from '../components/Upauto.astro';
import Rightl from '../components/Rightl.astro';
import Navbar from '../components/Navbar.astro';
import Corusel from '../components/Corusel.astro';

---

<Layout title="Welcome to Astro.">
	<Navbar/>
	<Topbar/>
<!--contenedor  -->
	<Rightl/>
	
	<Corusel/>
	
	
	
	<div class="flex justify-center items-center  w-full h-3/4"> 
		<div class="pt-16 pb-10  w-full h-full flex justify-center items-center">
			<img src="" alt="" class="w-[70%] h-[50]"/>
		</div>

	</div>
	<Upauto/>




	</Layout>


	