---
import 'swiper/css';
import 'swiper/css/pagination';




---

<!-- Slider main container -->
 <div class="">
<div class="swiper mt-10 col-span-1 sm:col-span-2">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->

        <div class="swiper-slide">
          <img
            src="/public/images/products/cry.gif"
            alt="Product image"
            class="w-full h-full object-cover px-10"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/public/images/products/cry.gif"
            alt="Product image"
            class="w-full h-full object-cover px-10"
          />
        </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>
</div>
<style>
  .swiper {
    width: 50%;
    height: 50%;
  }
</style>

<script>
  import Swiper from 'swiper';
  import { Pagination } from 'swiper/modules';

  const swiper = new Swiper('.swiper', {
    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    modules: [Pagination],
  });
</script>