---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex justify-center gap-6 py-4 text-xs text-center bg-[#fab700] text-black space-x-1 ">
        <div class="flex gap-2 items-center">Envio a todo Chile!
            <img src="truck.svg" alt="">
        </div>
        <div class="flex gap-1 items-center">Retiro en metro U.Santiago
         <img src="/map (2).svg" alt="">
        </div>
        <div class="flex gap-1 items-center">
            Garantia de calidad
            <img src="/shield.svg" alt="">            
        </div>
    </div>
    
    
</body>
</html>